/** highlight.js */
.hljs {
    background: inherit;
}

/** photon */
* {
    -webkit-user-select: inherit;
}

[v-cloak] {
    display: none;
}

.window {
    border-radius: 6px;
    overflow: hidden;
}
.sidebar {
    background-color: #f5f5f4;
}

/** tabs */
.tab-content {
    height: 100%;
    position: relative;
}

.tab-content .source {
    height: 50%;
    overflow-y: scroll;
}

.tab-content .target {
    height: 50%;
    overflow-y: scroll;
    border-top: solid 4px #ddd;
}